<div *ngIf=!acceso>
    <h2>Página de videojuegos</h2>
    Se requiere inicio de sesión para acceder a la página<br>
    <br>
    <!-- Formulario de inicio de sesión -->
    <form (submit)="onSubmit()">
      <label for="username">Usuario:</label><!--name y ngMode deben ser iguales o no funcionará-->
      <input type="text" id="username" name="nombreUsuario" [(ngModel)]="nombreUsuario" required>
  
      <label for="password">Contraseña:</label>
      <input type="password" id="password" name="contrasena" [(ngModel)]="contrasena" required>
  
      <button type="submit">Iniciar sesión</button>
    </form> (RdelRomero, contrasena0), (ksio7, contrasena1), (enriqueVz, contrasena2), (fdepablo - contrasena3)
    <!-- Mostrar mensaje de error si la autenticación falla -->
    <div *ngIf="acceso==false">
      No se pudo iniciar sesión. Verifica tus credenciales.
    </div>
  </div>

<app-cabecera *ngIf=acceso [stringInputDefinidoEnComponenteCabecera]="nombreUsuario"></app-cabecera>
<app-barra-navegacion *ngIf=acceso></app-barra-navegacion>

<router-outlet *ngIf=acceso>
<!--Dentro de esta etiqueta se mostarán los diferentes componentes por los que vamos a ir navegando.-->
</router-outlet>

<app-pie-de-pagina></app-pie-de-pagina>

<!--Si el parametro se envía desde un componente estático pero diferente de app.component (por ejemplo cabecera) habría que haber enviado el parámetro
  desde Cabecera hasta app.component.ts, y desde app.component.ts enviarlo a componente que recibe el parámetro.
  Es decir habría que haber puesto
<app-nombreComponenteQueEnvia (eventEmitterOutputDefinidoEnComponenteQueEnvia)="setStringDefinidoEnComponent($event)"></app-nombreComponenteQueEnvia>
donde setStringDefinidoEnComponent se define en app.component.ts y hace stringDefinidoEnComponent = $event
<app-nombreComponenteQueRecibe [stringInputDefinidoEnComponenteQueRecibe]="stringDefinidoEnComponent"></app-nombreComponenteQueRecibe>
-->