<div>
    <h2>¿Quiénes comos?</h2>
    <h3>Nuestra historia y objetivo</h3>
    [...]
    <h3>Nuestro equipo de redacción</h3>
    [...]
    <section>
        <h3>Datos de contacto</h3>
        DATOS SOCIALES<br>
        Denominación social: Xxxxxx Xxxxx, S.A.<br>
        <br>
        Dirección social:<br>
        C. de Alcalá, 414, 28027 Madrid. Centro comercial Alcalá Norte 2.ª planta<br>
        <br>
        Datos registro:<br>
        Inscrito en el registro mercantil de Madrid.<br>
        Tomo nn.nnn, libro 0, folio 32, sección 8.<br>
        Hoja: M-nnnnnn, inscripción 3.<br>
        NIF: A-NNNNNNNN.<br>
        <br>
        <div style="overflow:hidden;width:500px;height:400px;">
            <iframe width="500" height="400" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1574.1792213590809!2d-3.6391907314431293!3d40.43708725510324!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses!2ses!4v1682883680005!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
        <br>
    </section>
</div>
