#divForm {
    /*Centramos horizontalmente*/
    display: flex;
    justify-content: center;
    /*No puedo poner width o no funcionará*/
}

table {
    border-collapse: collapse;
    width: 600px;
}

form {
    background-color: white;
}

th, td {
    border: 1px solid rgb(255, 255, 255);
}

.labeltextoemail {
    display: block;
    margin-bottom: 8px;
}

input[type="text"], input[type="email"], textarea {
    /*Ocupa el 100 % del elemento que los contiene*/
    width: 100%;
    box-sizing: border-box;
    padding: 8px;
    margin-bottom: 16px;
    
}

input[type="submit"] {
    background-color: #4caf50;
    color: white;
    cursor: pointer;
    width: 50%;
    height: 30px;
}

input[type="submit"]:hover {
    background-color: #45a049;
}