<div>
    <h3>Componente portada</h3>
    <h3>NOTICIAS DESTACADAS</h3>
    <div style="height: 300 px;">
      <table>
        <tr><td>Noticia 1</td><td>Noticia 2</td></tr>
        <tr><td>Noticia 3</td><td>Noticia 4</td></tr>
        <tr><td>Noticia 5</td><td>Noticia 6</td></tr>
        <tr><td>Noticia 7</td><td>Noticia 8</td></tr>
      </table>
    </div>
    <div>
        <h3>PUBLICIDAD: OFERTAS DE JUEGOS DESTACADAS</h3>
    </div>
    <div>
        <h3>ARTÍCULOS VIDEOJUEGOS</h3>
        <table>
            <tr><td>Artículo 1</td><td>Artículo 2</td><td>Artículo 3</td></tr>
            <tr><td>Artículo 4</td><td>Artículo 5</td><td>Artículo 6</td></tr>
        </table>
    </div>
    <div>
        <h3>TRUCOS Y GUÍAS</h3>
        <table>
            <tr><td>Guía 1</td><td>Guía 2</td><td>Guía 3</td></tr>
            <tr><td>Guía 4</td><td>Guía 5</td><td>Guía 6</td></tr>
        </table>
    </div>  
</div>

