<div>
    <h3>Pie de página</h3>
    <table>
      <thead>
          <tr>
              <td class="negrita">Nombre de la página web</td><td class="negrita">Ayuda</td><td class="negrita">Servicios</td><td class="negrita">Información legal</td>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td><a routerLink="/quienes-somos">Quienes somos</a></td><td><a routerLink="/contacta-con-nosotros">Contacta con nosotros</a></td><td></td><td></td>
          </tr>
      </tbody>
    </table>
  </div>